body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.animation-container {
    position: relative;
    height: 40vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: blue 0.2em solid;
  }

  .ball {
    position: absolute;
    border-radius: 50%;
    /* height: 30px; */
    /* width: 30px; */
    height: 2em;
    width: 2em;
    background-color: orange;
    animation: fadeInOut 1s linear infinite;
  }
  
  @keyframes fadeInOut {
    0%, 20% {
      opacity: 1;
    }
    40%, 60% {
      opacity: 0;
    }
    80%, 100% {
      opacity: 1;
    }
  }

/* HTML class message */
 .message {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: red 0.2em solid;
    /* animation: fadeInOut 5s linear infinite; */
  }

  .message-transition {
    animation: fadeInOut 5s linear infinite;
  }

  