body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    height: 100%;
    width: 100%;

}
.animation-container {
    position: relative;
    min-height: 200px;
    min-width: 300px;
    height: 50%;
    width: 90%;
    max-width:600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ball {
    position: absolute;
    border-radius: 50%;
    /* height: 30px; */
    /* width: 30px; */
    height: 2em;
    width: 2em;
    background-color: orange;
    animation: fadeInOut 1s linear infinite;
  }
  
  @keyframes fadeInOut {
    0%, 20% {
      opacity: 1;
    }
    40%, 60% {
      opacity: 0;
    }
    80%, 100% {
      opacity: 1;
    }
  }

/* HTML class message */

  .message {
    transition: opacity 2.5s ease-in-out;
    font-size: 1.5em;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .message-transition {
    opacity: 1;
  }
  
  @media (max-width: 600px) {    

    .container {
        margin-top: 20%; /* Reduce the top margin on small screens */
    }

    body, html {
        display: block; /* Consider stacking elements vertically without flexbox */
    }

    .message {
        font-size: 1em; /* Adjust font size for better readability */
        text-align: center;
        overflow-wrap: break-word;
    }
}